.venv/* 
quickstart-v2/.venv/*

__pycache__/
*.pyc

uploads/

.vscode/

node_modules/

# Ignore system files (e.g., macOS)
.DS_Store

# Ignore environment files
build.txt
output.txt
quickstart-v2/backlog.txt
quickstart-v2/consol_code.py
quickstart-v2/terraform/.terraform.lock.hcl
quickstart-v2/terraform/cloud_run.tf
.gitignore
.gitignore
quickstart-v2/terraform/firestore.tf
quickstart-v2/terraform/debug.tf
quickstart-v2/terraform/iap.tf
quickstart-v2/terraform/main.tf
quickstart-v2/terraform/secrets.tf
quickstart-v2/terraform/terraform.tfstate
quickstart-v2/terraform/terraform.tfstate.backup
quickstart-v2/terraform/terraform.tfvars
quickstart-v2/terraform/variables.tf
quickstart-v2/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/darwin_arm64/LICENSE.txt
.gitignore
quickstart-v2/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/darwin_arm64/terraform-provider-google_v5.45.2_x5
quickstart-v2/terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/LICENSE.txt
quickstart-v2/terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null_v3.2.4_x5
quickstart-v2/terraform/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/LICENSE.txt
quickstart-v2/terraform/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/terraform-provider-time_v0.13.1_x5
quickstart-v2/delete.py
quickstart-v2/delete.py
.gitignore
quickstart-v2/pages/6_drag.py
quickstart-v2/text2speech.py
